.container{
    display: flex;
    gap: 60px;
    justify-content: space-around;
    
}


.logo img{
    width: 90px;
    height: 90px;
}
.logo p{
    font-size: 24px;
    margin-top: 0;
    text-align: center;
}
.experiences{
    display: flex;
   
    font-size: x-large;
    justify-content: space-evenly;
    
}
.experiences p{
    margin-top: 40px;
}

.subcls{
    display: flex;
    gap: 20px;
    justify-content: space-around;
    
}
.box{
    width: 300px;
    height: 200px;
    background-color: rgb(214, 214, 247);
    border-radius: 5px;
}